aadict==0.2.3
absl-py==0.9.0
asgiref==3.2.10
asset==0.6.13
astroid==2.4.1
astunparse==1.6.3
backcall==0.2.0
beautifulsoup4==4.9.1
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
cycler==0.10.0
decorator==4.4.2
Django==3.0.7
ffmpeg==1.4
Flask==0.12
gast==0.3.3
gevent==20.9.0
globre==0.1.5
google-api-core==1.22.0
google-api-python-client==1.10.0
google-auth==1.16.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
google-spreadsheet==0.0.6
googleapis-common-protos==1.52.0
greenlet==0.4.17
grpcio==1.29.0
gspread==3.6.0
gunicorn==20.0.4
h5py==2.10.0
httplib2==0.18.1
idna==2.9
imageio==2.9.0
imutils==0.5.3
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.9.5
joblib==0.16.0
jupyter-client==6.1.7
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-squeezenet==0.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
MouseInfo==0.1.3
neat-python==0.92
networkx==2.4
numpy==1.18.2
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.1.0
parso==0.7.1
passwordmeter==0.1.8
path==13.1.0
path.py==12.4.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.11.0
prompt-toolkit==3.0.7
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycparser==2.20
pycryptodome==3.9.8
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.7.1
pygsheets==2.0.3.1
pylint==2.5.2
pytesseract==0.3.4
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
sqlparse==0.3.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
urllib3==1.25.9

